.minesweeper {

  $border: 1px solid #555;
  $cell-color: #aaa;
  $opened-color: #ccc;
  $hover-color: #a42;

  @mixin setBackgroundImg($imgName) {
    background-image: url($imgName);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  display: flex;
  justify-content: center;
  padding: 5px;

  .field {
    display: inline-flex;
    border: $border;
    // position: absolute;
  }

  .splash-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 30px;
    }

    button {
      padding: 5px 20px;
      background-color: #888;
      border: $border;
      border-radius: 5px;
      color: white;
      font-size: 30px;
      user-select: none;
    }

    button:hover {
      color: #ff2;
    }

    button:focus {
      outline: none;
    }
  }

  .cell {
    width: 50px;
    height: 50px;
    background-color: $cell-color;
    border: $border;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    padding: 7px;
    font-size: 30px;
  }

  .cell:hover:not(.opened):not(.flag) {
    background-color: $hover-color;
  }

  .opened {
    background-color: $opened-color;
    border: none;
  }

  .mine {
    @include setBackgroundImg("mine.svg");
  }

  .flag {
    @include setBackgroundImg("flag.svg");
  }
}